<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
        <td mat-cell *matCellDef="let row">{{row.timestamp}}</td>
      </ng-container>

      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag</th>
        <td mat-cell *matCellDef="let row">{{row.tag}}</td>
      </ng-container>

      <ng-container matColumnDef="processed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Processado</th>
        <td mat-cell *matCellDef="let row">{{row.processed}}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let row">{{row.valor}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

<!--  <mat-paginator #paginator-->
<!--      [length]="dataSource?.data.length"-->
<!--      [pageIndex]="0"-->
<!--      [pageSize]="50"-->
<!--      [pageSizeOptions]="[25, 50, 100, 250]">-->
<!--  </mat-paginator>-->
</div>
